@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
/* font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif; */

/* var */
:root {
  /* primary */
  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  /* (graphic design text) */
  --Dark-desaturated-cyan: hsl(167, 40%, 30%);
  /*  (photography text) */
  --Dark-blue: hsl(198, 62%, 26%);
  /* (footer) */
  --Dark-moderate-cyan: #90d4c5;

  /* secondary */
  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}

/* mobile styles*/

/* header */
header {
  position: relative;
}
.fixed-top {
  position: absolute !important;
}
header nav {
  z-index: 1030;
  background-color: transparent !important;
  padding: 1rem 0 !important;
}
header nav .navbar-nav {
  margin-top: 50px;
}
header nav .navbar-nav::before {
  content: "";
  margin-left: auto;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 40px 40px;
  float: right;
  border-color: transparent transparent var(--White) transparent;
}
header nav .nav-link {
  font-family: "Barlow", sans-serif;
  color: var(--Dark-grayish-blue) !important;
  font-size: 24px;
  text-align: center;
  padding: 1rem 0;
  background-color: var(--White);
}
header nav .nav-link:first-child {
  padding-top: 3rem;
}
header nav .nav-link:last-child {
  padding-bottom: 3rem;
}
header nav .nav-link:last-child p {
  font-family: "Fraunces", serif;
  font-size: 18px;
  margin: auto;
  padding: 17px 30px;
  width: fit-content;
  text-transform: uppercase;
  background-color: var(--Yellow);
  color: var(--Very-dark-desaturated-blue);
  border-radius: 50px;
}
header nav .navbar-toggler {
  color: transparent !important;
  border-color: transparent !important;
  padding-right: 0;
}
header nav .navbar-toggler span.navbar-toggler-icon {
  background-image: url(./images/icon-hamburger.svg) !important;
}
header nav .container-fluid {
  margin: 0 0.5rem;
}
header .text-area {
  background-image: url(./images/mobile/image-header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;
}
header .text-area .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
header .text-area .content h1 {
  font-family: "Fraunces", serif;
  font-size: 30px;
  font-weight: 900;
  color: var(--White);
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
}
/* article */
.card {
  border: none !important;
}
.card-body {
  text-align: center;
  padding: 40px 0px;
}
.card-body .card-title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 30px;
  color: var(--Very-dark-desaturated-blue);
}
figure .img-fluid {
  height: 100%;
  border-radius: 0 !important;
}
.card-img-pc {
  display: none !important;
}
.card-body .card-text {
  margin: 2rem 0;
  font-family: "Barlow", sans-serif;
  color: var(--Dark-grayish-blue) !important;
}
.card-body .card-link {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: var(--Very-dark-desaturated-blue);
  text-transform: uppercase;
  text-decoration: none;
}
.card-body .card-link p {
  margin: 0 auto;
  width: fit-content;
}
.card-body .card-link p::after {
  width: 110%;
  margin-left: -5px;
  position: relative;
  z-index: -1;
  bottom: 8px;
  opacity: 40%;
  content: "";
  float: left;
  background: var(--Yellow);
  height: 9px;
  border-radius: 25px;
}
.card-body .card-link #pink::after {
  width: 110%;
  margin-left: -5px;
  position: relative;
  z-index: -1;
  bottom: 8px;
  opacity: 40%;
  content: "";
  float: left;
  background: var(--Soft-red);
  height: 9px;
  border-radius: 25px;
}
.card-img-overlay {
  height: fit-content;
  margin-top: auto;
  color: var(--Dark-desaturated-cyan);
  text-align: center;
}
.card-img-overlay .card-title {
  font-family: "Fraunces", serif;
  font-size: 30px;
  font-weight: 800;
}
.card-img-overlay p.card-text {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  margin: 25px 0px;
}

/* testimoni */
h3#testi {
  font-family: "Fraunces", serif;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
  color: var(--Grayish-blue);
  margin: 40px 0px;
}
.card-testi img {
  width: 80px;
  border-radius: 50px;
}
.card-testi .card-text {
  padding: 0 10px;
  font-family: "Barlow", sans-serif;
  color: var(--Very-dark-grayish-blue) !important;
}
.card-testi span.card-title {
  font-size: 21px;
}
.card-testi p.card-subtitle {
  margin-top: 8px;
  font-family: "Barlow", sans-serif;
  color: var(--Grayish-blue) !important;
}

/* mini gallery */

.gallery {
  overflow-x: hidden;
}
.gallery .col-6 img {
  width: 100%;
}
.gallery.col-6 {
  background-image: url(./images/mobile/image-gallery-cone.jpg);
}

/* footer */
footer {
  background-color: var(--Dark-moderate-cyan);
  overflow-x: hidden;
}
footer .logo {
  width: fit-content;
  margin: auto;
  padding: 60px 0px;
  padding-bottom: 40px;
}
footer .logo img {
  height: 30px;
}
footer .col-3 {
  width: fit-content;
  margin: auto;
}
footer .row.mb-4 {
  padding: 4rem !important;
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
footer .col-4 {
  width: fit-content;
  font-family: "Barlow", sans-serif;
  color: var(--Dark-desaturated-cyan);
  font-size: 18px;
  text-align: center;
  margin: auto;
  padding: 0;
  opacity: 0.8;
}

@media screen and (min-width: 370px) {
  .card-body {
    padding: 80px 20px;
  }
}
/*  medium phone styles */
@media screen and (min-width: 410px) {
  header .text-area .content h1 {
    font-size: 45px;
    margin: 50px 0px;
  }
  .card-body .card-title {
    font-size: 40px;
  }
  footer .logo img {
    height: 36px;
  }
  footer .row.mb-4 {
    padding: 7rem !important;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

/*  small tablet styles  768*/
@media screen and (min-width: 768px) {
  header .text-area {
    background-image: url(./images/desktop/image-header.jpg);
    background-position-y: bottom;
  }
  figure .img-fluid {
    width: 100%;
    height: 100%;
    visibility: hidden;
  }
  figure {
    background-position: center;
    background-size: cover;
  }
  figure#transform {
    background-image: url(./images/desktop/image-transform.jpg);
  }
  figure#stand-out {
    background-image: url(./images/desktop/image-stand-out.jpg);
  }
  .card-img {
    display: none;
  }
  .card-img-pc {
    display: block !important;
    visibility: visible !important;
  }
  .text-aside-card .card-body {
    padding: 50px;
    height: 100%;
    text-align: left;
    width: 100%;
  }
  .card-body .card-link p {
    margin: 0;
    width: fit-content;
  }
  .card-body .card-title {
    font-weight: 900;
  }
  footer .row.mb-4 {
    justify-content: center;
  }
  footer .row.p-2 {
    justify-content: center;
  }
  footer .col-4 {
    margin: 0 25px;
  }
  footer .col-3 {
    margin: 0;
  }
}

/* large tablet & laptop styles */
@media screen and (min-width: 992px) {
  header nav .container-fluid {
    margin: 2rem;
  }
  .navbar-brand img {
    width: 150px;
  }
  header nav .navbar-nav {
    margin-top: 0px;
  }
  header nav .nav-link:last-child {
    margin-right: 0 !important;
  }
  header nav .nav-link:last-child p {
    background-color: var(--White);
  }
  header nav .navbar-nav::before {
    content: "";
    border-width: 0px;
  }
  header nav .nav-link {
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    padding: 0;
    margin: auto 15px;
    background-color: transparent;
    color: var(--White) !important;
  }
  header nav .nav-link:first-child {
    padding-top: 0rem;
  }
  header nav .nav-link:last-child {
    padding-bottom: 0rem;
  }
}

/* dekstop styles */
@media screen and (min-width: 1200px) {
  .card-img-overlay p.card-text {
    width: 65%;
    margin: 40px auto;
  }
  header nav .container-fluid {
    margin: 1rem 2rem;
  }
  .navbar-brand img {
    width: 170px;
  }
  .text-aside-card .card-body {
    padding: 150px 100px;
    height: 100%;
    text-align: left;
    width: 100%;
  }
  .card-body .card-link p {
    margin: 0;
    width: fit-content;
  }
  .card-body .card-title {
    font-weight: 900;
  }
}

@media screen and (min-width: 1430px) {
  .text-aside-card .card-body {
    padding: 150px 122px;
  }
}
